In [19]:
from collections import Counter as c

In [2]:
import pandas as pd
data = pd.read_csv('kidney_disease.csv')

In [3]:
data.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [4]:
data.tail()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [5]:
data.head(15)

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
5,5,60.0,90.0,1.015,3.0,0.0,NaN,NaN,notpresent,notpresent,...,39,7800,4.4,yes,yes,no,good,yes,no,ckd
6,6,68.0,70.0,1.010,0.0,0.0,NaN,normal,notpresent,notpresent,...,36,NaN,NaN,no,no,no,good,no,no,ckd
7,7,24.0,NaN,1.015,2.0,4.0,normal,abnormal,notpresent,notpresent,...,44,6900,5,no,yes,no,good,yes,no,ckd
8,8,52.0,100.0,1.015,3.0,0.0,normal,abnormal,present,notpresent,...,33,9600,4.0,yes,yes,no,good,no,yes,ckd
9,9,53.0,90.0,1.020,2.0,0.0,abnormal,abnormal,present,notpresent,...,29,12100,3.7,yes,yes,no,poor,no,yes,ckd
10,10,50.0,60.0,1.010,2.0,4.0,NaN,abnormal,present,notpresent,...,28,NaN,NaN,yes,yes,no,good,no,yes,ckd
11,11,63.0,70.0,1.010,3.0,0.0,abnormal,abnormal,present,notpresent,...,32,4500,3.8,yes,yes,no,poor,yes,no,ckd
12,12,68.0,70.0,1.015,3.0,1.0,NaN,normal,present,notpresent,...,28,12200,3.4,yes,yes,yes,poor,yes,no,ckd
13,13,68.0,70.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,NaN,NaN,NaN,yes,yes,yes,poor,yes,no,ckd
14,14,68.0,80.0,1.010,3.0,2.0,normal,abnormal,present,present,...,16,11000,2.6,yes,yes,yes,poor,yes,no,ckd

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             391 non-null    float64
 2   bp              388 non-null    float64
 3   sg              353 non-null    float64
 4   al              354 non-null    float64
 5   su              351 non-null    float64
 6   rbc             248 non-null    object
 7   pc              335 non-null    object
 8   pcc             396 non-null    object
 9   ba              396 non-null    object
 10  bgr             356 non-null    float64
 11  bu              381 non-null    float64
 12  sc              383 non-null    float64
 13  sod             313 non-null    float64
 14  pot             312 non-null    float64
 15  hemo            348 non-null    float64
 16  pcv             330 non-null    object
 17  wc              295 non-null    object
 18  rc              270 non-null    object
 19  htn             398 non-null    object
 20  dm              398 non-null    object
 21  cad             398 non-null    object
 22  appet           399 non-null    object
 23  pe              399 non-null    object
 24  ane             399 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [7]:
data['classification'].unique()

array(['ckd', 'ckd\t', 'notckd'], dtype=object)

In [8]:
data['classification'] = data['classification'].replace("ckd\t", "ckd")

In [9]:
data['classification'].unique()

array(['ckd', 'notckd'], dtype=object)

In [10]:
Catcols = set(data.dtypes[data.dtypes=="O"].index.values)
print(Catcols)

{'pc', 'ane', 'htn', 'pcv', 'dm', 'wc', 'appet', 'rc', 'ba', 'pe', 'classification', 'pcc', 'rbc', 'cad'}

In [11]:

for i in Catcols:
    print("columns :",i)
    c = data[i].unique()
    print(c)
    print('*'*120+'\n')

columns : pc
['normal' 'abnormal' nan]
************************************************************************************************************************

columns : ane
['no' 'yes' nan]
************************************************************************************************************************

columns : htn
['yes' 'no' nan]
************************************************************************************************************************

columns : pcv
['44' '38' '31' '32' '35' '39' '36' '33' '29' '28' nan '16' '24' '37' '30'
 '34' '40' '45' '27' '48' '\t?' '52' '14' '22' '18' '42' '17' '46' '23'
 '19' '25' '41' '26' '15' '21' '43' '20' '\t43' '47' '9' '49' '50' '53'
 '51' '54']
************************************************************************************************************************

columns : dm
['yes' 'no' ' yes' '\tno' '\tyes' nan]
************************************************************************************************************************

columns : wc
['7800' '6000' '7500' '6700' '7300' nan '6900' '9600' '12100' '4500'
 '12200' '11000' '3800' '11400' '5300' '9200' '6200' '8300' '8400' '10300'
 '9800' '9100' '7900' '6400' '8600' '18900' '21600' '4300' '8500' '11300'
 '7200' '7700' '14600' '6300' '\t6200' '7100' '11800' '9400' '5500' '5800'
 '13200' '12500' '5600' '7000' '11900' '10400' '10700' '12700' '6800'
 '6500' '13600' '10200' '9000' '14900' '8200' '15200' '5000' '16300'
 '12400' '\t8400' '10500' '4200' '4700' '10900' '8100' '9500' '2200'
 '12800' '11200' '19100' '\t?' '12300' '16700' '2600' '26400' '8800'
 '7400' '4900' '8000' '12000' '15700' '4100' '5700' '11500' '5400' '10800'
 '9900' '5200' '5900' '9300' '9700' '5100' '6600']
************************************************************************************************************************

columns : appet
['good' 'poor' nan]
************************************************************************************************************************

columns : rc
['5.2' nan '3.9' '4.6' '4.4' '5' '4.0' '3.7' '3.8' '3.4' '2.6' '2.8' '4.3'
 '3.2' '3.6' '4' '4.1' '4.9' '2.5' '4.2' '4.5' '3.1' '4.7' '3.5' '6.0'
 '5.0' '2.1' '5.6' '2.3' '2.9' '2.7' '8.0' '3.3' '3.0' '3' '2.4' '4.8'
 '\t?' '5.4' '6.1' '6.2' '6.3' '5.1' '5.8' '5.5' '5.3' '6.4' '5.7' '5.9'
 '6.5']
************************************************************************************************************************

columns : ba
['notpresent' 'present' nan]
************************************************************************************************************************

columns : pe
['no' 'yes' nan]
************************************************************************************************************************

columns : classification
['ckd' 'notckd']
************************************************************************************************************************

columns : pcc
['notpresent' 'present' nan]
************************************************************************************************************************

columns : rbc
[nan 'normal' 'abnormal']
************************************************************************************************************************

columns : cad
['no' 'yes' '\tno' nan]
************************************************************************************************************************

In [12]:
Numcols = set(data.dtypes[data.dtypes!="O"].index.values)
print(Numcols)

{'sc', 'bu', 'bgr', 'al', 'sod', 'pot', 'hemo', 'su', 'age', 'bp', 'sg', 'id'}

In [13]:
for i in Numcols:
    print("columns :",i)
    c = data[i].unique()
    print(c)
    print('*'*120+'\n')

columns : sc
[ 1.2   0.8   1.8   3.8   1.4   1.1  24.    1.9   7.2   4.    2.7   2.1
  4.6   4.1   9.6   2.2   5.2   1.3   1.6   3.9  76.    7.7    nan  2.4
  7.3   1.5   2.5   2.    3.4   0.7   1.   10.8   6.3   5.9   0.9   3.
  3.25  9.7   6.4   3.2  32.    0.6   6.1   3.3   6.7   8.5   2.8  15.
  2.9   1.7   3.6   5.6   6.5   4.4  10.2  11.5   0.5  12.2   5.3   9.2
 13.8  16.9   6.    7.1  18.    2.3  13.   48.1  14.2  16.4   2.6   7.5
  4.3  18.1  11.8   9.3   6.8  13.5  12.8  11.9  12.   13.4  15.2  13.3
  0.4 ]
************************************************************************************************************************

columns : bu
[ 36.   18.   53.   56.   26.   25.   54.   31.   60.  107.   55.   72.
  86.   90.  162.   46.   87.   27.  148.  180.  163.    nan  50.   75.
  45.   28.  155.   33.   39.  153.   29.   65.  103.   70.   80.   20.
 202.   77.   89.   24.   17.   32.  114.   66.   38.  164.  142.   96.
 391.   15.  111.   73.   19.   92.   35.   16.  139.   48.   85.   98.
 186.   37.   47.   52.   82.   51.  106.   22.  217.   88.  118.   50.1
  71.   34.   40.   21.  219.   30.  125.  166.   49.  208.  176.   68.
 145.  165.  322.   23.  235.  132.   76.   42.   44.   41.  113.    1.5
 146.   58.  133.  137.   67.  115.  223.   98.6 158.   94.   74.  150.
  61.   57.   95.  191.   93.  241.   64.   79.  215.  309.   10. ]
************************************************************************************************************************

columns : bgr
[121.  nan 423. 117. 106.  74. 100. 410. 138.  70. 490. 380. 208.  98.
 157.  76.  99. 114. 263. 173.  95. 108. 156. 264. 123.  93. 107. 159.
 140. 171. 270.  92. 137. 204.  79. 207. 124. 144.  91. 162. 246. 253.
 141. 182.  86. 150. 146. 425. 112. 250. 360. 163. 129. 133. 102. 158.
 165. 132. 104. 127. 415. 169. 251. 109. 280. 210. 219. 295.  94. 172.
 101. 298. 153.  88. 226. 143. 115.  89. 297. 233. 294. 323. 125.  90.
 308. 118. 224. 128. 122. 214. 213. 268. 256.  84. 105. 288. 139.  78.
 273. 242. 424. 303. 148. 160. 192. 307. 220. 447. 309.  22. 111. 261.
 215. 234. 131. 352.  80. 239. 110. 130. 184. 252. 113. 230. 341. 255.
 103. 238. 248. 120. 241. 269. 201. 203. 463. 176.  82. 119.  97.  96.
  81. 116. 134.  85.  83.  87.  75.]
************************************************************************************************************************

columns : al
[ 1.  4.  2.  3.  0. nan  5.]
************************************************************************************************************************

columns : sod
[  nan 111.  142.  104.  114.  131.  138.  135.  130.  141.  139.    4.5
 136.  129.  140.  132.  133.  134.  125.  163.  137.  128.  143.  127.
 146.  126.  122.  147.  124.  115.  145.  113.  120.  150.  144. ]
************************************************************************************************************************

columns : pot
[ nan  2.5  3.2  4.   3.7  4.2  5.8  3.4  6.4  4.9  4.1  4.3  5.2  3.8
  4.6  3.9  4.7  5.9  4.8  4.4  6.6 39.   5.5  5.   3.5  3.6  7.6  2.9
  4.5  5.7  5.4  5.3 47.   6.3  5.1  5.6  3.   2.8  2.7  6.5  3.3]
************************************************************************************************************************

columns : hemo
[15.4 11.3  9.6 11.2 11.6 12.2 12.4 10.8  9.5  9.4  9.7  9.8  5.6  7.6
 12.6 12.1 12.7 10.3  7.7 10.9  nan 11.1  9.9 12.5 12.9 10.1 12.  13.
  7.9  9.3 15.  10.   8.6 13.6 10.2 10.5  6.6 11.   7.5 15.6 15.2  4.8
  9.1  8.1 11.9 13.5  8.3  7.1 16.1 10.4  9.2  6.2 13.9 14.1  6.  11.8
 11.7 11.4 14.   8.2 13.2  6.1  8.  12.3  8.4 14.3  9.   8.7 10.6 13.1
 10.7  5.5  5.8  6.8  8.8  8.5 13.8 11.5  7.3 13.7 12.8 13.4  6.3  3.1
 17.  15.9 14.5 15.5 16.2 14.4 14.2 16.3 14.8 16.5 15.7 13.3 14.6 16.4
 16.9 16.  14.7 16.6 14.9 16.7 16.8 15.8 15.1 17.1 17.2 15.3 17.3 17.4
 17.7 17.8 17.5 17.6]
************************************************************************************************************************

columns : su
[ 0.  3.  4.  1. nan  2.  5.]
************************************************************************************************************************

columns : age
[48.  7. 62. 51. 60. 68. 24. 52. 53. 50. 63. 40. 47. 61. 21. 42. 75. 69.
 nan 73. 70. 65. 76. 72. 82. 46. 45. 35. 54. 11. 59. 67. 15. 55. 44. 26.
 64. 56.  5. 74. 38. 58. 71. 34. 17. 12. 43. 41. 57.  8. 39. 66. 81. 14.
 27. 83. 30.  4.  3.  6. 32. 80. 49. 90. 78. 19.  2. 33. 36. 37. 23. 25.
 20. 29. 28. 22. 79.]
************************************************************************************************************************

columns : bp
[ 80.  50.  70.  90.  nan 100.  60. 110. 140. 180. 120.]
************************************************************************************************************************

columns : sg
[1.02  1.01  1.005 1.015   nan 1.025]
************************************************************************************************************************

columns : id
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399]
************************************************************************************************************************

In [14]:
Numcols.remove('al')
Numcols.remove('su')
Numcols.remove('sg')
print(Numcols)

{'sc', 'bu', 'bgr', 'sod', 'pot', 'hemo', 'age', 'bp', 'id'}

In [15]:
Catcols.remove('pcv')
Catcols.remove('rbc')
Catcols.remove('wc')
print(Catcols)

{'pc', 'ane', 'htn', 'dm', 'appet', 'rc', 'ba', 'pe', 'classification', 'pcc', 'cad'}

In [16]:
Numcols.add('pcv')
Numcols.add('rbc')
Numcols.add('wc')
Numcols.add('al')
Numcols.add('su')
Numcols.add('sg')
print(Numcols)
print(Catcols)

{'sc', 'bu', 'pcv', 'bgr', 'al', 'sod', 'pot', 'hemo', 'wc', 'su', 'age', 'bp', 'sg', 'id', 'rbc'}
{'pc', 'ane', 'htn', 'dm', 'appet', 'rc', 'ba', 'pe', 'classification', 'pcc', 'cad'}

In [22]:
data['dm'] = data['dm'].replace("\tno", "no")
data['dm'] = data['dm'].replace("\tyes", "yes")
data['dm'] = data['dm'].replace(" yes", "yes")
c(data['dm'])

Counter({'yes': 137, 'no': 261, nan: 2})

In [23]:
data['cad'] = data['cad'].replace("\tno", "no")
c(data['cad'])

Counter({'no': 364, 'yes': 34, nan: 2})

In [25]:
data.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [26]:
print(Numcols)
print(Catcols)

{'sc', 'bu', 'pcv', 'bgr', 'al', 'sod', 'pot', 'hemo', 'wc', 'su', 'age', 'bp', 'sg', 'id', 'rbc'}
{'pc', 'ane', 'htn', 'dm', 'appet', 'rc', 'ba', 'pe', 'classification', 'pcc', 'cad'}

In [27]:
data['pc'].fillna(data['pc'].mode()[0],inplace=True)
data['ane'].fillna(data['ane'].mode()[0],inplace=True)
data['htn'].fillna(data['htn'].mode()[0],inplace=True)
data['dm'].fillna(data['dm'].mode()[0],inplace=True)
data['appet'].fillna(data['appet'].mode()[0],inplace=True)
data['rc'].fillna(data['rc'].mode()[0],inplace=True)
data['ba'].fillna(data['ba'].mode()[0],inplace=True)
data['pe'].fillna(data['pe'].mode()[0],inplace=True)
data['pcc'].fillna(data['pcc'].mode()[0],inplace=True)
data['cad'].fillna(data['cad'].mode()[0],inplace=True)

In [31]:
data['pcv'].fillna(data['pcv'].mode()[0],inplace=True)
data['wc'].fillna(data['wc'].mode()[0],inplace=True)
data['rbc'].fillna(data['rbc'].mode()[0],inplace=True)

In [32]:
data['sc'].fillna(data['sc'].mean(),inplace=True)
data['bu'].fillna(data['bu'].mean(),inplace=True)

data['bgr'].fillna(data['bgr'].mean(),inplace=True)
data['al'].fillna(data['al'].mean(),inplace=True)
data['sod'].fillna(data['sod'].mean(),inplace=True)
data['pot'].fillna(data['pot'].mean(),inplace=True)
data['hemo'].fillna(data['hemo'].mean(),inplace=True)

data['su'].fillna(data['su'].mean(),inplace=True)
data['age'].fillna(data['age'].mean(),inplace=True)
data['bp'].fillna(data['bp'].mean(),inplace=True)
data['sg'].fillna(data['sg'].mean(),inplace=True)

In [33]:
data.isnull().sum()

id                0
age               0
bp                0
sg                0
al                0
su                0
rbc               0
pc                0
pcc               0
ba                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [35]:
Numcols.remove('pcv')
Numcols.remove('rbc')
Numcols.remove('wc')
Catcols.add('pcv')
Catcols.add('rbc')
Catcols.add('wc')
print(Catcols)
print(Numcols)

{'pc', 'ane', 'htn', 'pcv', 'dm', 'wc', 'appet', 'rc', 'ba', 'pe', 'classification', 'pcc', 'rbc', 'cad'}
{'sc', 'bu', 'bgr', 'al', 'sod', 'pot', 'hemo', 'su', 'age', 'bp', 'sg', 'id'}

In [34]:
from sklearn.preprocessing import LabelEncoder

In [36]:
for i in Catcols:
    print("LABEL ENCODING OF :",i)
    LEi = LabelEncoder()
    print(c(data[i]))
    data[i] = LEi.fit_transform(data[i])
    print(c(data[i]))
    print("*"*100)

LABEL ENCODING OF : pc
Counter({'normal': 324, 'abnormal': 76})
Counter({1: 324, 0: 76})
****************************************************************************************************
LABEL ENCODING OF : ane
Counter({'no': 340, 'yes': 60})
Counter({0: 340, 1: 60})
****************************************************************************************************
LABEL ENCODING OF : htn
Counter({'no': 253, 'yes': 147})
Counter({0: 253, 1: 147})
****************************************************************************************************
LABEL ENCODING OF : pcv
Counter({'41': 91, '52': 21, '44': 19, '48': 19, '40': 16, '43': 14, '45': 13, '42': 13, '32': 12, '36': 12, '33': 12, '28': 12, '50': 12, '37': 11, '34': 11, '35': 9, '29': 9, '30': 9, '46': 9, '31': 8, '39': 7, '24': 7, '26': 6, '38': 5, '47': 4, '49': 4, '53': 4, '51': 4, '54': 4, '27': 3, '22': 3, '25': 3, '23': 2, '19': 2, '16': 1, '\t?': 1, '14': 1, '18': 1, '17': 1, '15': 1, '21': 1, '20': 1, '\t43': 1, '9': 1})
Counter({29: 91, 40: 21, 32: 19, 36: 19, 28: 16, 31: 14, 33: 13, 30: 13, 20: 12, 24: 12, 21: 12, 16: 12, 38: 12, 25: 11, 22: 11, 23: 9, 17: 9, 18: 9, 34: 9, 19: 8, 27: 7, 12: 7, 14: 6, 26: 5, 35: 4, 37: 4, 41: 4, 39: 4, 42: 4, 15: 3, 10: 3, 13: 3, 11: 2, 7: 2, 4: 1, 1: 1, 2: 1, 6: 1, 5: 1, 3: 1, 9: 1, 8: 1, 0: 1, 43: 1})
****************************************************************************************************
LABEL ENCODING OF : dm
Counter({'no': 263, 'yes': 137})
Counter({0: 263, 1: 137})
****************************************************************************************************
LABEL ENCODING OF : wc
Counter({'9800': 116, '6700': 10, '9600': 9, '9200': 9, '7200': 9, '6900': 8, '11000': 8, '5800': 8, '7800': 7, '9100': 7, '9400': 7, '7000': 7, '4300': 6, '6300': 6, '10700': 6, '10500': 6, '7500': 5, '8300': 5, '7900': 5, '8600': 5, '5600': 5, '10200': 5, '5000': 5, '8100': 5, '9500': 5, '6000': 4, '6200': 4, '10300': 4, '7700': 4, '5500': 4, '10400': 4, '6800': 4, '6500': 4, '4700': 4, '7300': 3, '4500': 3, '8400': 3, '6400': 3, '4200': 3, '7400': 3, '8000': 3, '5400': 3, '3800': 2, '11400': 2, '5300': 2, '8500': 2, '14600': 2, '7100': 2, '13200': 2, '9000': 2, '8200': 2, '15200': 2, '12400': 2, '12800': 2, '8800': 2, '5700': 2, '9300': 2, '6600': 2, '12100': 1, '12200': 1, '18900': 1, '21600': 1, '11300': 1, '\t6200': 1, '11800': 1, '12500': 1, '11900': 1, '12700': 1, '13600': 1, '14900': 1, '16300': 1, '\t8400': 1, '10900': 1, '2200': 1, '11200': 1, '19100': 1, '\t?': 1, '12300': 1, '16700': 1, '2600': 1, '26400': 1, '4900': 1, '12000': 1, '15700': 1, '4100': 1, '11500': 1, '10800': 1, '9900': 1, '5200': 1, '5900': 1, '9700': 1, '5100': 1})
Counter({90: 116, 62: 10, 88: 9, 84: 9, 67: 9, 64: 8, 10: 8, 54: 8, 72: 7, 83: 7, 86: 7, 65: 7, 42: 6, 58: 6, 7: 6, 6: 6, 70: 5, 77: 5, 73: 5, 80: 5, 52: 5, 3: 5, 46: 5, 75: 5, 87: 5, 56: 4, 57: 4, 4: 4, 71: 4, 51: 4, 5: 4, 63: 4, 60: 4, 44: 4, 68: 3, 43: 3, 78: 3, 59: 3, 41: 3, 69: 3, 74: 3, 50: 3, 39: 2, 13: 2, 49: 2, 79: 2, 27: 2, 66: 2, 25: 2, 82: 2, 76: 2, 29: 2, 21: 2, 24: 2, 81: 2, 53: 2, 85: 2, 61: 2, 18: 1, 19: 1, 33: 1, 35: 1, 12: 1, 0: 1, 15: 1, 22: 1, 16: 1, 23: 1, 26: 1, 28: 1, 31: 1, 1: 1, 9: 1, 36: 1, 11: 1, 34: 1, 2: 1, 20: 1, 32: 1, 37: 1, 38: 1, 45: 1, 17: 1, 30: 1, 40: 1, 14: 1, 8: 1, 91: 1, 48: 1, 55: 1, 89: 1, 47: 1})
****************************************************************************************************
LABEL ENCODING OF : appet
Counter({'good': 318, 'poor': 82})
Counter({0: 318, 1: 82})
****************************************************************************************************
LABEL ENCODING OF : rc
Counter({'5.2': 148, '4.5': 16, '4.9': 14, '4.7': 11, '3.9': 10, '4.8': 10, '4.6': 9, '3.4': 9, '3.7': 8, '5.0': 8, '6.1': 8, '5.5': 8, '5.9': 8, '3.8': 7, '5.4': 7, '5.8': 7, '5.3': 7, '4.3': 6, '4.2': 6, '5.6': 6, '4.4': 5, '3.2': 5, '4.1': 5, '6.2': 5, '5.1': 5, '6.4': 5, '5.7': 5, '6.5': 5, '3.6': 4, '6.0': 4, '6.3': 4, '4.0': 3, '4': 3, '3.5': 3, '3.3': 3, '5': 2, '2.6': 2, '2.8': 2, '2.5': 2, '3.1': 2, '2.1': 2, '2.9': 2, '2.7': 2, '3.0': 2, '2.3': 1, '8.0': 1, '3': 1, '2.4': 1, '\t?': 1})
Counter({34: 148, 26: 16, 30: 14, 28: 11, 19: 10, 29: 10, 27: 9, 14: 9, 17: 8, 32: 8, 43: 8, 37: 8, 41: 8, 18: 7, 36: 7, 40: 7, 35: 7, 24: 6, 23: 6, 38: 6, 25: 5, 12: 5, 22: 5, 44: 5, 33: 5, 46: 5, 39: 5, 47: 5, 16: 4, 42: 4, 45: 4, 21: 3, 20: 3, 15: 3, 13: 3, 31: 2, 5: 2, 7: 2, 4: 2, 11: 2, 1: 2, 8: 2, 6: 2, 10: 2, 2: 1, 48: 1, 9: 1, 3: 1, 0: 1})
****************************************************************************************************
LABEL ENCODING OF : ba
Counter({'notpresent': 378, 'present': 22})
Counter({0: 378, 1: 22})
****************************************************************************************************
LABEL ENCODING OF : pe
Counter({'no': 324, 'yes': 76})
Counter({0: 324, 1: 76})
****************************************************************************************************
LABEL ENCODING OF : classification
Counter({'ckd': 250, 'notckd': 150})
Counter({0: 250, 1: 150})
****************************************************************************************************
LABEL ENCODING OF : pcc
Counter({'notpresent': 358, 'present': 42})
Counter({0: 358, 1: 42})
****************************************************************************************************
LABEL ENCODING OF : rbc
Counter({'normal': 353, 'abnormal': 47})
Counter({1: 353, 0: 47})
****************************************************************************************************
LABEL ENCODING OF : cad
Counter({'no': 366, 'yes': 34})
Counter({0: 366, 1: 34})
****************************************************************************************************

In [38]:
#rbc,pc,bgr,bu,pe,ane,dm,cad
selcols = ['rbc','pc','bgr','bu','pe','ane','dm','cad']
x = pd.DataFrame(data,columns = selcols)
y = pd.DataFrame(data, columns = ['classification'])

print(x.shape)
print(y.shape)

(400, 8)
(400, 1)

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2, random_state = 2)


print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(320, 8)
(80, 8)
(320, 1)
(80, 1)

In [41]:
from sklearn.linear_model import LogisticRegression
lgr = LogisticRegression()
lgr.fit(x_train,y_train)

C:\Users\nabhuvan\Anaconda3\envs\tf_env\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\nabhuvan\Anaconda3\envs\tf_env\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [42]:
y_pred = lgr.predict(x_test)

In [44]:
y_pred1 = lgr.predict([[129,99,1,0,0,1,0,1]])
print(y_pred)
c(y_pred)

[0 0 0 0 1 0 0 0 1 0 0 0 1 1 0 0 0 1 1 0 1 1 0 1 0 1 0 0 1 0 0 1 0 0 0 0 1
 0 0 1 0 1 0 0 0 1 0 1 1 1 0 0 0 1 0 1 0 1 1 0 0 1 1 0 0 0 0 1 0 1 1 0 0 1
 0 1 0 1 1 0]

Counter({0: 48, 1: 32})

In [46]:
from sklearn.metrics import accuracy_score, confusion_matrix
accuracy_score(y_test,y_pred)

0.925

In [47]:
conf_mat =  confusion_matrix(y_test,y_pred)
print(conf_mat)

[[48  6]
 [ 0 26]]

In [48]:
import pickle

In [49]:
pickle.dump(lgr, open('CKD.pkl','wb'))